@page
@model ProjectsPage.Customer.IndexModel

<div class="row container pb-3 backgroundWhite">
	@foreach (var project in Model.ProjectList)
	{
        <div class="card mb-3">
            <h3 class="card-header" style="text-align:center" >@project.Name</h3>

            <img class="center" src="@project.ImageURL" />
            
            <div class="card-body">
                <p class="card-text">@project.Description</p>
            </div>
            <h4 class="card-header" style="text-align:center">Key Skills Used:</h4>
            <ul class="list-group list-group-flush" style="text-align:center">
                <li class="list-group-item">ASP Razor Pages</li>
                <li class="list-group-item">SQL Database</li>
                <li class="list-group-item">Unit of Work Design Pattern</li>
            </ul>
            <div class="card-body">
                @if(User.IsInRole("Manager"))
                {
                    <a asp-page="/ProjectsPage/Admin/Edit" asp-route-id="@project.Id" class="card-link">
                        Edit Card
                    </a>
                }

                <a asp-page="/ProjectsPage/Customer/ViewDetails" asp-route-id="@project.Id" class="card-link">View Details</a>
            </div>
        </div>
	}
</div>